force-app/main/default/flows/oldLead_Controller.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Loss_Reason</name>
        <label>Loss Reason</label>
        <locationX>3086</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Does not live in the house</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roof_Age_1950_2_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Loss_Reason</name>
        <label>Loss Reason</label>
        <locationX>2646</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Does not live in the house</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roof_Age_1950_2_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Loss_Reason</name>
        <label>Loss Reason</label>
        <locationX>2206</locationX>
        <locationY>2951</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (size)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Loss_Reason</name>
        <label>Loss Reason</label>
        <locationX>2206</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (Material)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Current_contract_expiry_duration</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Loss_Reason</name>
        <label>Loss Reason</label>
        <locationX>2206</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (age)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Roof_Material</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Loss_Reason</name>
        <label>Loss Reason</label>
        <locationX>2206</locationX>
        <locationY>2615</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Bound to Power Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Max_Pv_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Loss_Reason</name>
        <label>Copy 7 of Loss Reason</label>
        <locationX>2118</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Does not live in the house</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Roof_Age_1950</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EV_Power1</name>
        <label>EV Power</label>
        <locationX>2431</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>EV_POWER</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2500.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Building_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>HP_Power1</name>
        <label>HP_Power</label>
        <locationX>2431</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>HP_POWER</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3500.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Device_is_E_bike</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason</name>
        <label>Loss Reason</label>
        <locationX>2998</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Building type not suitable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SF_Score_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0</name>
        <label>Loss Reason</label>
        <locationX>3086</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Not Owner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Live_in_the_house</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0</name>
        <label>Loss Reason</label>
        <locationX>3086</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (age)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roof_Material</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>3086</locationX>
        <locationY>2711</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (Material)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>3086</locationX>
        <locationY>3047</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Bound to Power Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Pv_Area</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>2558</locationX>
        <locationY>1583</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Owner</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Live_in_the_house</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>2646</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (age)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roof_Material_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>2646</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (Material)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Contract_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>2646</locationX>
        <locationY>2831</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Bound to Power Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Pv_Area_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>1678</locationX>
        <locationY>1823</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>House/Roof not suitable (age)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Roof_Material_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>1766</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (Material)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Contract_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>1766</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Bound to Power Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Pv_Area_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>1238</locationX>
        <locationY>1943</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>House/Roof not suitable (Material)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Contract_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>1326</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Bound to Power Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Pv_Area_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>798</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Bound to Power Contract</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Max_Pv_Area_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>3086</locationX>
        <locationY>3383</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (size)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>2646</locationX>
        <locationY>3167</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (size)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>1766</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (size)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>1326</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (size)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>886</locationX>
        <locationY>2303</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;House/Roof not suitable (size)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>446</locationX>
        <locationY>2183</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>House/Roof not suitable (size)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</name>
        <label>Loss Reason</label>
        <locationX>2431</locationX>
        <locationY>3815</locationY>
        <assignmentItems>
            <assignToReference>Filter_Reason</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;Postal Code</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Disqualified_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>ExcitingUser</name>
        <dataType>String</dataType>
        <value>
            <stringValue>005090000068h1K</stringValue>
        </value>
    </constants>
    <constants>
        <name>Q1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Q1_Unqualified_mail_after_Solarcheck_automatic_1652711419589</stringValue>
        </value>
    </constants>
    <constants>
        <name>SenderEmail</name>
        <dataType>String</dataType>
        <value>
            <stringValue>exciting@sunvigo.de</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Building_Type</name>
        <label>Building Type</label>
        <locationX>2563</locationX>
        <locationY>1343</locationY>
        <defaultConnector>
            <targetReference>LossReason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BuildingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reihenhaus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BuildingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Einfamilienhaus</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BuildingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doppelhaushälfte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BuildingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generationenhaus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SF_Score_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_No_Partner_in_Postal_Code</name>
        <label>Check No Partner in Postal Code</label>
        <locationX>2563</locationX>
        <locationY>3695</locationY>
        <defaultConnector>
            <targetReference>Disqualified_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Partner_in_Postal_Code_is_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_Partner_in_Postal_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>No Partner in Postal Code is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_No_Partner_in_Postal_Code_0</name>
        <label>Check No Partner in Postal Code</label>
        <locationX>50</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>Set_Auto_Qualified_to_True</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Partner_in_Postal_Code_is_True_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.No_Partner_in_Postal_Code__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
            </connector>
            <label>No Partner in Postal Code is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Current_contract_expiry_duration</name>
        <label>Current contract expiry duration</label>
        <locationX>2118</locationX>
        <locationY>2495</locationY>
        <defaultConnector>
            <targetReference>Copy_6_of_Loss_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_5_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_contract_expiry_duration__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>12+ Monate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Max_Pv_Area</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Live_in_the_house</name>
        <label>Live in the house</label>
        <locationX>2998</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Loss_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Do_you_live_in_the_house_yourself__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roof_Age_1950_2_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Max_Pv_Area</name>
        <label>Max Pv Area</label>
        <locationX>2118</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Loss_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_6_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Roof_Age_1950</name>
        <label>Roof Age &lt; 1950</label>
        <locationX>2118</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>Copy_5_of_Loss_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roof_Age_Paperform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vor 1950</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Roof_Material</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Roof_Material</name>
        <label>Roof Material</label>
        <locationX>2118</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Copy_4_of_Loss_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_4_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schiefer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bieberschwanz-ziegel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Trapezblech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stehfalzblech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Flachziegel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Well-Eternit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Current_contract_expiry_duration</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Live_in_the_house</name>
        <label>Live in the house</label>
        <locationX>2558</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Loss_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Do_you_live_in_the_house_yourself__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roof_Age_1950_2_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Contract</name>
        <label>Current contract expiry duration</label>
        <locationX>2998</locationX>
        <locationY>2927</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_contract_expiry_duration__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>12+ Monate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Max_Pv_Area</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Contract_0</name>
        <label>Current contract expiry duration</label>
        <locationX>2558</locationX>
        <locationY>2711</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_contract_expiry_duration__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>12+ Monate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Max_Pv_Area_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Contract_0_0</name>
        <label>Current contract expiry duration</label>
        <locationX>1678</locationX>
        <locationY>2279</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_contract_expiry_duration__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>12+ Monate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Max_Pv_Area_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Contract_0_0_0</name>
        <label>Current contract expiry duration</label>
        <locationX>1238</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_contract_expiry_duration__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>12+ Monate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Max_Pv_Area_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Contract_0_0_0_0</name>
        <label>Current contract expiry duration</label>
        <locationX>523</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Current_contract_expiry_duration__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>12+ Monate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Max_Pv_Area_0_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Device_is_E_bike</name>
        <label>Device is E-bike?</label>
        <locationX>2563</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>Building_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.High_Consumption_Devices__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>E-Auto</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EV_Power1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Device_is_w_rmepumpe</name>
        <label>Device is wärmepumpe?</label>
        <locationX>2563</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Device_is_E_bike</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.High_Consumption_Devices__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Wärmepumpe</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HP_Power1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Live_in_the_house</name>
        <label>Live in the house</label>
        <locationX>1698</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>Copy_7_of_Loss_Reason</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Live_in_the_house</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Do_you_live_in_the_house_yourself__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ja</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Do_you_live_in_the_house_yourself__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roof_Age_1950_2_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Pv_Area</name>
        <label>Max Pv Area</label>
        <locationX>2998</locationX>
        <locationY>3263</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_6</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Pv_Area_0</name>
        <label>Max Pv Area</label>
        <locationX>2558</locationX>
        <locationY>3047</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_6_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Pv_Area_0_0</name>
        <label>Max Pv Area</label>
        <locationX>1678</locationX>
        <locationY>2615</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_6_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Pv_Area_0_0_0</name>
        <label>Max Pv Area</label>
        <locationX>1238</locationX>
        <locationY>2399</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_6_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Pv_Area_0_0_0_0</name>
        <label>Max Pv Area</label>
        <locationX>798</locationX>
        <locationY>2183</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_6_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_No_Partner_in_Postal_Code</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Max_Pv_Area_0_0_0_0_0</name>
        <label>Max Pv Area</label>
        <locationX>248</locationX>
        <locationY>2063</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_6_0_0_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MaxPVArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_No_Partner_in_Postal_Code_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Code_is_available</name>
        <label>Referral Code is available?</label>
        <locationX>2563</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Device_is_w_rmepumpe</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_ref</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Referral_Code__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Lead Partners</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Source</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Roof_Age_1950_2_0</name>
        <label>Roof Age &lt; 1950</label>
        <locationX>2998</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roof_Age_Paperform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vor 1950</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roof_Material</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Roof_Age_1950_2_0_0</name>
        <label>Roof Age &lt; 1950</label>
        <locationX>2558</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roof_Age_Paperform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vor 1950</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roof_Material_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Roof_Age_1950_2_0_0_0</name>
        <label>Roof Age &lt; 1950</label>
        <locationX>1279</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roof_Age_Paperform__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Vor 1950</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Roof_Material_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Roof_Material</name>
        <label>Roof Material</label>
        <locationX>2998</locationX>
        <locationY>2591</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schiefer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bieberschwanz-ziegel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Trapezblech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stehfalzblech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Flachziegel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Well-Eternit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Contract</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Roof_Material_0</name>
        <label>Roof Material</label>
        <locationX>2558</locationX>
        <locationY>2375</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schiefer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bieberschwanz-ziegel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Trapezblech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stehfalzblech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Flachziegel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Well-Eternit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Contract_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Roof_Material_0_0</name>
        <label>Roof Material</label>
        <locationX>1678</locationX>
        <locationY>1943</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_4_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schiefer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bieberschwanz-ziegel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Trapezblech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stehfalzblech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Flachziegel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Well-Eternit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Contract_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Roof_Material_0_0_0</name>
        <label>Roof Material</label>
        <locationX>880</locationX>
        <locationY>1823</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0_0_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_4_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Schiefer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Bieberschwanz-ziegel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Trapezblech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Stehfalzblech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Flachziegel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Well-Eternit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Roof_Material__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sonstiges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Contract_0_0_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SF_Score_0_0_0_0</name>
        <label>Owner or Co-owner</label>
        <locationX>2128</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>LossReason_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_or_Coowner_0</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Are_you_the_owner_of_the_house__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ja, ich bin alleiniger Eigentümer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Are_you_the_owner_of_the_house__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Are_you_the_owner_of_the_house__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ja, ich bin Eigentümer</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Live_in_the_house</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_SF_Score_0_0_0_0_0</name>
        <label>Owner or Co-owner</label>
        <locationX>2998</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>LossReason_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Owner_or_Coowner_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Are_you_the_owner_of_the_house__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Ja</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Live_in_the_house</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DecreaseSFScoreby1</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SF_Score__c}-1</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DecreaseSFScoreby2</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SF_Score__c}-2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DecreaseSFScoreby3</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SF_Score__c}-3</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IncreaseSFScoreby2</name>
        <dataType>Number</dataType>
        <expression>{!$Record.SF_Score__c}+2</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UnqualifiedEmailDate</name>
        <dataType>DateTime</dataType>
        <expression>Case(WEEKDAY({!$Flow.CurrentDate} + 1), 7, {!$Flow.CurrentDateTime} + 3, 1, {!$Flow.CurrentDateTime} + 2, {!$Flow.CurrentDateTime} + 1)</expression>
    </formulas>
    <interviewLabel>Lead Controller {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Controller</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Disqualified_0_0_0_0_0</name>
        <label>Disqualified</label>
        <locationX>2563</locationX>
        <locationY>4031</locationY>
        <inputAssignments>
            <field>Filter_Reason__c</field>
            <value>
                <elementReference>Filter_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <stringValue>Filtered Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Unqualified</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unqualified_Email_Date__c</field>
            <value>
                <elementReference>UnqualifiedEmailDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Auto_Qualified_to_True</name>
        <label>Set Auto Qualified to True</label>
        <locationX>182</locationX>
        <locationY>2303</locationY>
        <connector>
            <targetReference>Convert_Lead</targetReference>
        </connector>
        <inputAssignments>
            <field>Auto_Qualified__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Max_PV_Area_Updated_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Source</name>
        <label>Update Lead Source</label>
        <locationX>2431</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Device_is_w_rmepumpe</targetReference>
        </connector>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Referral Program</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2437</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Referral_Code_is_available</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>MaxPVArea__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Auto_Qualified__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Convert_Lead</name>
        <label>Convert Lead</label>
        <locationX>182</locationX>
        <locationY>2423</locationY>
        <flowName>Convert_Lead_Auto_Launched</flowName>
        <inputAssignments>
            <name>LeadID</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>QualifiedLeadEmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&amp;lt;p style=&quot;text-align: center&quot;&amp;gt;&amp;lt;img src=&quot;https://cdn.shortpixel.ai/spai/ret_img/https://sunvigo.de/wp-content/uploads/2021/03/sunvigo-logo.svg&quot; width=&quot;200&quot; height&quot;200&quot; align=&quot;center&quot; align=&quot;centre&quot;&amp;gt;&amp;lt;/p&amp;gt; &amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Hallo {!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;$Record.&lt;/span&gt;.Name},&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;es freut uns, dass du mit unserem Solarcheck den ersten Schritt auf dem Weg zu deiner Solaranlage genommen hast!&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Wie geht es weiter?&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Zuerst prüfen wir dein Dach auf die gängigen Anforderungen von Solaranlagen, wie z.B. die verfügbare Dachfläche. Danach meldet sich ein Berater bei dir unter der Telefonnummer {!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;$Record&lt;/span&gt;.Phone}, um kurz über deine Angaben zu sprechen. Das Gespräch dauert ca. 10 Minuten und ist für die Erstellung des Angebots erforderlich.&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Gut zu wissen: unsere Telefonnummer ist die +49 221 82828 444.&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Anschließend planen wir mithilfe präzisester Technologie eine maßgeschneiderte Anlage für dein Dach. Darauf basierend erstellen wir dir ein Angebot für dein Haus mit der folgenden Adresse:&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Record.Street}&lt;/span&gt; &amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;{!$Record.City} {!&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;$Record.&lt;/span&gt;.PostalCode}&lt;/p&gt;&lt;p&gt;&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Leider kann es aktuell aufgrund der sehr hohen Nachfrage zu längeren Wartezeiten kommen. Wir bitten das zu entschuldigen.&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Sonnige Grüße&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Dein Sunvigo Team&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;&amp;lt;br/&amp;gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;PS: Übrigens, uns ist der Schutz deiner persönlichen Daten sehr wichtig. Wir geben deine Daten nicht an Dritte weiter und nutzen sie nicht für andere Zwecke als für die Erstellung eines Angebots.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EV_POWER</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Filter_Reason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HP_POWER</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>zzzzSenderEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>exciting@sunvigo.de</stringValue>
        </value>
    </variables>
</Flow>
